__pycache__/

.venv
.vscode

# FONT FILES
view/assets/GLT-GonunneSpurious.otf
view/assets/GLT-GonunneObsolete.otf

# SECRET INFO
## OPEN WEATHER MAP API KEY
.env
## GOOGLE OAUTH INFO
service-account.json
